.header{

    font-family: 'Montserrat';
    font-size: 18px;
    color: #535353;
    font-weight: 900;

}




.continer{
    margin-top: 15px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    box-shadow: -1px 3px 115px -42px rgba(0,0,0,0.35);
    display: flex;
    flex-wrap: wrap;
    font-family:Montserrat;
    font-size:14px;
    text-transform: lowercase;


}

.box{
    display: flex;
    width: 25%;
   
}

.icon{
    cursor: pointer;

}
.text{
    cursor: pointer;
}




@media only screen and (max-width: 700px) {
    .box{
        width: 100%;
       
    }
}


@media only screen and (max-width: 900px) {
    .box{
        width: 50%;
       
    }
}







