.notifction {
    .ui.table {
     width: 100%;   
    }


.ui.table thead th{
 font-size: 11px;
 color:#8dabc4;




}
    .ui.table td {
     
        font-size: 12px;
        text-align: left;
        font-weight: normal;
        color: #ffffff;
    }

    .blue-table{
color: #0093ee;

    }
}