// Here you can add other styles
@import url('https://rsms.me/inter/inter-ui.css');
@import "./oldCoreCss/app.scss";
@import "./stylesDrag.css";
@import "../../node_modules/react-grid-layout/css/styles.css";
// @import './semantic.min.css';

body{
    font-family: 'Source Sans Pro', sans-serif;

}

.boxCon:hover{
    box-shadow: 5px 12px 20px rgba(36,37,38,0.13);
}

img {
    &:hover {
      -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));      
      filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));  
  
    }
  }

  img{
cursor: pointer;

  }